# miscellaneous
.sass-cache
.jekyll-metadata
.vscode

# internal tools
_site
_example

# illustrative drafts
src/img/raw/*
src/video/raw/*
!src/img/raw/favicon.ai

# node modules
node_modules

# testing 
test.html
test.js

# misc
.DS_Store

