# miscellaneous
.sass-cache
.jekyll-metadata
.vscode

# internal tools
_site
_example

# illustrative drafts
**/_drafts
**/_temp
**/_raw
**/_download

# node modules
node_modules

# testing 
test.html
test.js

# misc
.DS_Store

