---
layout : default
---

<!-- CONTAINER GRID -->
<div id='container-grid'>
<button class="button fixed-upper-left">
    show link view
</button>
{% for section in site.data.sections %}
<section id="{{ section.id }}" class='section-body'>
    <div class='high-level-info'>
        <h1>{{ section.heading }}</h1>
        <p>{{ section.description }}</p>
    </div>
    <div class='info-group'>
        <!-- iterate through section groups -->
        {% for group in section.group %}
        <div class='info'>
            <h2>{{ group.subheading }}</h2>

            <!-- iterate through items (images) in a group, if exists -->
            {% if group.subgroup %}
            <div class='slideshow-container'>
                {% for subgroup in group.subgroup %}
                <div class='slideshow fade'>
                    <img src="{{ site.baseurl }}/{{ subgroup.img }}" alt="{{ subgroup.alt }}">
                    <p>{{ subgroup.caption }}</p>
                </div>
                {% endfor %}
                
                <!-- add left and right arrows -->
                <div class='arrow-box'>
                    <a class="prev" onclick="changeSlide(this, '-1')">&#10094;</a>
                    <a class="next" onclick="changeSlide(this, '+1')">&#10095;</a>
                </div>

                <!-- create the necessary amount of dots per image -->
                <div>
                    {% for subgroup in group.subgroup %}
                    <span class='dot' onclick="currentSlide(this, '{{ forloop.index }}')"></span>
                    {% endfor %}
                </div>
            </div>

            <!-- if only one image, just show it -->
            {% else %}
            <img src="{{ site.baseurl }}/{{ group.img }}" alt="{{ group.alt }}">
            <p>{{ group.caption }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}
</div>

<!-- CONTAINER LINKS -->
<div id='container-link'>
<button class="button fixed-upper-left">
    show grid view
</button>
{% for section in site.data.sections %}
<section id='{{ section.id }}-overlay' class='section-body--overlay'>
    <div class='high-level-info-overlay'>
        <h1>{{section.heading}}</h1>
        <p>{{section.description}}</p>
    </div>

    {% for group in section.group %}
    {% if group.subgroup %}
        {% for subgroup in group.subgroup %}
        <div class='info-group'>
            <div class='info-overlay'>
                <h2>{{ group.subheading }}</h2>
            </div>
            <div class='info-overlay'>
                <img src="{{ site.baseurl }}/{{ subgroup.img }}" alt="{{ subgroup.alt }}">
            </div>
            <div class='info-overlay'>
                <p>{{ subgroup.caption }}</p>
            </div>
            <div class='info-overlay'>
                <a href="{{ subgroup.link }}">
                    <p>{{ subgroup.link }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class='info-group'>
        <div class='info-overlay'>
            <h2>{{ group.subheading }}</h2>
        </div>
        <div class='info-overlay'>
            <img src="{{ site.baseurl }}/{{ group.img }}" alt="{{ group.alt }}">
        </div>
        <div class='info-overlay'>
            <p>{{ group.caption }} </p>
        </div>
        <div class='info-overlay'>
            <a href="{{ group.link }}">
                <p>{{ group.link }}</p>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endfor %}
</div>

<div>
    <button id='button-footer' class='button button-footer fixed-lower-right'>
        <a href="#{{ site.data.sections[0].id }}" data-scroll>
            <i class="fas fa-arrow-up"></i>
        </a> 
    </button>
</div>