---
layout : default
---

{% for section in site.data.sections %}
<section id="{{ section.id }}" class='section-header'>
    <div class='high-level-info'>
        <h1>{{section.heading}}</h1>
        <p>{{section.description}}</p>
    </div>
    <div class='info-group'>
        <!-- iterate through section groups -->
        {% for subgroup in section.subgroup %}
        <div class='info'>
            <h2>{{subgroup.subheading}}</h2>

            <!-- iterate through items (images) in a group, if exists -->
            {% if subgroup.items %}
            <div class='slideshow-container'>
                {% for item in subgroup.items %}
                <div class='slideshow fade'>
                    <img src="{{ site.baseurl }}/{{ item.img }}" alt="{{ item.alt }}">
                    <p>{{ item.caption }}</p>
                </div>
                {% endfor %}
                
                <a class="prev" onclick="changeSlide(this, '-1')">&#10094;</a>
                <a class="next" onclick="changeSlide(this, '+1')">&#10095;</a>
                
                <!-- create the necessary amount of dots per image -->
                <div>
                    {% for item in subgroup.items %}
                    <span class='dot' onclick="currentSlide(this, '{{ forloop.index }}')"></span>
                    {% endfor %}
                </div>
            </div>

            <!-- if only one image, just show it -->
            {% else %}
            <img src="{{ site.baseurl }}/{{ subgroup.img }}" alt="{{ subgroup.alt }}">
            <p>{{subgroup.subdescription}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}
