.navup {
    // position
    position: fixed;
    bottom: 5rem;
    right: 5rem;

    // dimensions
    height: $toggle-box-radius;
    width: $toggle-box-radius;

    border-radius: 50%;
    cursor: pointer;

    &__link {
        text-decoration: none;
        background-color: white;
    }

    &__icon {
        font-size: 1.5rem;
        color: black;
    }
}