.carousel {

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__group {
        position: relative;
    }

    &__item {
        transition: all 0.3s;

        // fade in animation
        &--fade {
            animation-name: fade;
            animation-timing-function: cubic-bezier(.17,.67,.83,.67);
            animation-duration: $carousel-fade;
        }

        // needed for js selection
        &--image {
            display: none;
        }

        // this is needed for js selection
        &--paragraph {
            flex-direction: column;
            align-items: center;
            display: none;
        }
    }

    &__arrows {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        
        width: 100%;
        max-width: $image-max-width;
       
        &--prev,
        &--next {
            // position: relative;
            position: absolute;

            // align vertically
            // add more padding to buffer click area
            top: 50%;
            transform: translate(0, -50%);
            line-height: 1;
            padding: 1rem 0;

            // aesthetics
            font-size: $arrow-size;
            width: $arrow-size * 1.2;
            color: $color-arrow;
            font-weight: bold;
            cursor: pointer;

            transition: all 0.3s;
        }

        &--prev {
            left: .2rem;
            text-align: left;

            // animation
            &:hover {
                animation-name: sideToSide-AbsoluteMiddle-Left;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-delay: 0;
                animation-iteration-count: infinite;
            }
        }

        &--next {
            right: .2rem;
            text-align: right;

            // animation
            &:hover {
                animation-name: sideToSide-AbsoluteMiddle-Right;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-delay: 0;
                animation-iteration-count: infinite;
            }
        }
    }

    &__dot-container {
        text-align: center;
        margin: 1rem;
    }

    &__dots {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $color-dot-light;
        border-radius: 50%;
        margin: 2rem;

        cursor: pointer;

        transition: all 0.6s ease;

        &.active,
        &:hover {
            background-color: $color-dot-dark;
        }

        &--hidden {
            cursor: none;
            visibility: hidden;
        }
    }
}