.section-body-overlay {
  font-size: 120%;
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
  @media only screen and (min-width: $min-width) {
    width: 80%;
  }
  svg {
    width: 60px !important;
    height: auto;
  }
}

.high-level-info-overlay {
  text-align: left;
  margin: 5px auto;
  padding-left: 10%;
  h1 {
    font-weight: 400;
  }
}

.info-overlay {
  margin: 2.5%;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  h2, h3 {
    font-weight: 400;
    padding: 0;
  }
  img {
    width:100%;
    max-width: 300px;
    border-radius: 50%;
    vertical-align: middle;
  }
}

