.group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    // height: 100vh;

    // media query
    @include respond(phone) {
        font-size: 4rem;
        flex-wrap: wrap;
    }

    &__body {
        margin: 4rem;
        flex: 1 1 0;
    }

    &__body--overlay {
        padding-left: 10%;
    }
}