.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;

    // media query
    @include respond(phone) {
        flex-wrap: wrap;
    }

    &__body {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: $image-max-width;
        max-width: $image-max-width*3;
        margin: 0 auto;
        padding: 0 2rem;

        // media query
        @include respond(phone) {
            width: 100%;
            flex-basis: 100%;
        }
    }
}

.group-horizontal {
    // position
    position: relative;
    width: 90%;
    margin: 2rem auto;

    // alignment
    display: flex;    
    align-items: center;
    justify-content: space-between;

    &__item {
        // there are 3 items per horizontal group, set width to 33%
        flex: 0 0 33%;
        display: flex;
        padding: 1rem 0; 
        justify-content: center;
        text-align: center;
    }

    &__link {
        margin: 0;
        text-align: left;
        text-decoration: none;
    }
}