.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    // media query
    @include respond(phone) {
        flex-wrap: wrap;
    }

    &__body {
        width: 100%;
        flex: 1 0 $image-max-width;
        max-width: $image-max-width*3;
        margin: 0 auto;
        padding: 0 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        // media query
        @include respond(tab-land) {
            margin-top: 3rem;
            width: 50%;
            flex-basis: 50%;
        }

        @include respond(tab-port) {
            margin-top: 3rem;
            width: 100%;
            flex-basis: 100%;
        }

        @include respond(phone) {
            margin-top: 2.5rem;
            width: 100%;
            flex-basis: 100%;
        }
    }

    &__text {
        max-width: $caption-width;

        @include respond(tab-land) {
            max-width: $caption-width * 1.5;
        }

        @include respond(tab-port) {
            max-width: $caption-width * 1.8;
        }

        @include respond(phone) {
            max-width: $caption-width * 2.5;
        }

        &--list {
            width: $caption-width * .8;

            @include respond(tab-land) {
                max-width: $caption-width * 1;
            }
    
            @include respond(tab-port) {
                max-width: $caption-width * 1.5;
            }
    
            @include respond(phone) {
                max-width: $caption-width * 2;
            }
        }
    }
}

.group-horizontal {
    // position
    position: relative;
    width: 90%;
    margin: 2rem auto;

    // alignment
    display: flex;    
    align-items: center;
    justify-content: space-around;

    @include respond(phone) {
        width: 100%;
    }

    &__item {
        // there are 3 items per horizontal group, set width to 33%
        flex: 0 0 33%;
        display: flex;
        justify-content: center;
        
        // text align only first child
        &:first-child {
            text-align: center;
        }

        &:last-child {
            padding-left: 4rem;
            justify-content: flex-start;
            text-align: left;
        }

        // adjust the text elements, which are on the left and right 
        // side of the image
        @include respond(tab-port) {
            &:first-child {
                padding-right: 2rem;
            }
            &:last-child {
                padding-left: 2rem;
            }
        }

        @include respond(phone) {
            &:first-child {
                padding-right: 2rem;
            }
            &:last-child {
                padding-left: 2rem;
            }
        }
    }

    &__link {
        margin: 0;
        text-align: left;
        text-decoration: none;
        @include breakText;

        @include respond(phone) {
            // heading secondary at this size is 1.5rem
            font-size: 1.25rem;
        }
    }
}