*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: $body-text-color;

    font-family: 'Antic Slab', serif;
    font-weight: 400;

    @include respond(tab-port) {
        padding: 0;
    }
}

article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}
h1, h2, h3, h4, stong {
    margin-top: 1rem;
    padding-top: 1rem;
    line-height: 1.25;
    color: $header-text-color;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
ul, ol {
    margin: 1rem 0;
    padding-left: 40px;
}
p, figure {
    margin: 1rem 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}