body {
    line-height: 1.5;
    color: $color-default-text;
    
    font-family: 'Antic Slab', serif;
    font-weight: 400;
}

::selection {
    background: #74b9ff; 
    color: white;
  }

// ------------------------------------ //

.banner {
    font-family: 'Montserrat', sans-serif;
}

.heading {
    width: 70%;
    margin: .5rem auto;
    margin-bottom: 2rem;
    text-align: center;
    
    &--primary {
        font-size: 4rem;
        font-weight: 100;
        text-transform: uppercase;

        // media queries
        @include respond(tab-port) {
            font-size: 3.5rem;
        }
    
        @include respond(phone) {
            font-size: 3rem;
        }
    }

    &--sub {
        font-size: 2.2rem;
        padding: 0 4rem;
        margin-top: .5rem;

        // media queries
        @include respond(tab-port) {
            font-size: 2rem;
        }
    
        @include respond(phone) {
            font-size: 1.5rem;
        }
    }
}

.heading-secondary {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;

    &--inline {
        display: inline-block;
    }

    // media queries
    @include respond(tab-port) {
        font-size: 2rem;
    }

    @include respond(phone) {
        font-size: 1.5rem;
    }
}

.paragraph {
    font-size: 1.6rem;
    text-transform: none;

    &--inline {
        display: inline-block;
    }

    &--justify {
        text-align: justify;
    }

    &--justalign {
        text-align: justify;
        text-align-last: center;
    }

    &--justleft {
        text-align: justify;
        text-align-last: left;
    }

    &--left {
        text-align: left;
    }

    &--popup {
        font-size: 1.4rem;
        text-align: justify;
    }

    a {
        display: inline-block;
        color: $color-paragraph-link;
        transition: all 0.3s;
        background-color: transparent;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 1rem 2rem rgba(#000, 0.2);
        }
        &:active {
            transform: translateY(1px);
            box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
        }

        @include breakText;
    }
}

.highlight {
    color: $color-highlight;
}

// ------------------------------------ //

h1, h2, h3, h4, stong {
    line-height: 1.25;
    color: $color-header-text;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
sup, sub {
    line-height: 0;
}