.section-header {
    display: flex;
    vertical-align: bottom;
    height: 100vh;
    width: 100%;

    // media query
    @include respond(phone) {
        height: calc(var(--vh, 1vh) * 100);
    }

    // media query
    @include respond(tab-port) {
        height: calc(var(--vh, 1vh) * 100);
    }
}

.section-body {
    margin: 0 $section-margins-side;

    &:first-child {
        margin-top: 0;
        padding-top: 4rem;
    }

    &:not(:last-child) {
        margin-bottom: $section-margins-topbottom;
    }


    &--overlay:not(:last-child) {
        margin-bottom: $section-margins-topbottom;
    }

    // change header delimiter
    &:not(:first-child) {
        & > .heading {
            &::before {
                    display: block;
                    content: "";
                    height: 1px;
                    margin: 0rem auto $section-header-delimiter-margin;
                    width: 12%;
                    background-color: $color-default-text;
            }
        }
    }
}

// for js animations, toggling on/off
#container-grid {
    transition: all 0.2s;
}

#container-list {
    transition: all 0.2s;
}