// main body color, especially for banner
$main-color: #1a222c;
$color-primary: #555;

// monochrome
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// highlight colors
$highlight-color: red;
$highlight-hover: grey;

// icon color and text color on banner
$icon-color: #FFF;
$text-color: #FFF;
$body-text-color: #555;
$header-text-color: #333;
$dot-color: #bbb;
$dot-active: #717171;

// grid system
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// image container width
$section-margins: 4rem;
$content-margins: 4rem;
$image-max-width: 25rem;
$icon-width: 5rem;
$toggle-box-radius: 4rem;

// --------------------------------------- //

// body widths
$max-width: 1260px;
$min-width: 768px;

// grid spec
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// --------------------------------------- //

// font size
$default-font-size: 1.6rem;