.header {
  background: $main-color;
  display: flex;
  vertical-align: bottom;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  
  &__box {
    // position
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;

    // aesthetics
    color: $text_color;
  }

  &__title {
    font-size: 5rem;
    display: block;
    line-height: 1;
    color: $text_color;

    // media query
    @include respond(phone) {
      margin: 0;
      font-size: 3rem;
    }
  }

  &__description {
    font-size: 2rem;
    display: block;
    line-height: 1;
    color: $text_color;
    margin-top: 1rem;

    // meedia queries
    @include respond(phone) {
      font-size: 1.25rem;
    }
  }

  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__icon {
    // no borders
    outline: 0 !important;
    border: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;

    padding: none;
    margin: none;

    .icon {
      text-align: center;
      color: $icon-color;
      width: 4rem;
      height: 4rem;
      font-size: 4rem;
      padding: 2.5rem;
      margin: 1.5rem;
      border-radius: 50%;
      border: 2px solid $icon-color;
      transition: all .5s;
      
      // transition
      &:hover {
        color: $main-color;
        background: $icon-color;
      }
      &:active {
        color: $main-color;
        background: $icon-color;
      }

      // media queries

      @include respond(phone) {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        line-height: 1rem;
      }
    }
  }
}