nav {
    overflow: hidden;
    background-color: $main-color;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    padding: 10px;
    a {
        float: left;
        display: block;
        color: $text-color;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
    a:hover {
        background: #ddd;
        color: black;
        border-radius: 8px;
    }
    .brand-logo {
        float : left;
        vertical-align: middle;
    }
    .nav-right {
      float: right;
      padding-right: 16px;
    };
  }
  
  