.section-body-overlay {
  font-size: 120%;
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
  @media only screen and (min-width: $min-width) {
    width: 80%;
  }
  svg {
    width: 60px !important;
    height: auto;
  }
}

.high-level-info-overlay {
  text-align: left;
  margin: 5px auto;
  padding-left: 10%;
  h1 {
    font-weight: 400;
  }
}

.info-overlay {
  margin: 2.5%;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  h2, h3 {
    font-weight: 400;
    padding: 0;
  }
  img {
    width:100%;
    max-width: 300px;
    border-radius: 50%;
    vertical-align: middle;
  }
}

// .section-body {
//   font-size: 120%;
//   width: 90%;
//   margin: 0 auto;
//   max-width: $max-width;
//   @media only screen and (min-width: $min-width) {
//     width: 80%;
//   }
//   svg {
//     width: 60px !important;
//     height: auto;
//   }
// }

// .high-level-info {
//   text-align: center;
//   margin: 5px auto;
//   h1 {
//     font-weight: 400;
//   }
// }

// .info-group {
//   text-align: center;
//   font-size: 60px;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   p {
//     font-size: 16px;
//   }
//   @media only screen and (min-width: $min-width) {
//     flex-wrap: nowrap;
//     font-size: 75px;
//   }
// }

// .info {
//   margin: 5%;
//   flex: 1 1 0;
//   h2, h3 {
//     font-weight: 400;
//   }
//   img {
//     width:100%;
//     max-width: 300px;
//     border-radius: 50%;
//     vertical-align: middle;
//   }
// }

// /*********************************
// Duplicate CSS for overlay content
// **********************************/
// .section-body-overlay {
//   font-size: 120%;
//   width: 90%;
//   margin: 0 auto;
//   max-width: $max-width;
//   @media only screen and (min-width: $min-width) {
//     width: 80%;
//   }
//   svg {
//     width: 60px !important;
//     height: auto;
//   }
// }

// .high-level-info-overlay {
//   text-align: left;
//   margin: 5px auto;
//   padding-left: 10%;
//   h1 {
//     font-weight: 400;
//   }
// }

// .info-overlay {
//   margin: 2.5%;
//   flex: 1 1 0;
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   flex-direction: column;
//   h2, h3 {
//     font-weight: 400;
//     padding: 0;
//   }
//   img {
//     width:100%;
//     max-width: 300px;
//     border-radius: 50%;
//     vertical-align: middle;
//   }
// }


// /***************************
// ADDED BUTTON CUSTOMIZATION
// ***************************/
// .button {
//   background-color: $main-color;
//   color: white;
//   border-radius: 8px;
//   padding: 10px;
//   font-size: 1rem;
//   margin-left: 14px;
//   margin-top: 100px;
//   width: 9rem;
//   height: 3rem;
//   border: 0px;
//   transition: 0.5s;
//   transition: 0.5s;
//   opacity:0;
//   -webkit-transition: opacity 0.5s;
//   -moz-transition: opacity 0.5s;
//   -o-transition: opacity 0.5s;
//   transition: opacity 0.5s;
//   font-family: inherit; // need this for some reason
//   cursor: pointer;
// }

// // .button:hover {
// //   background-color: $main-color;
// //   color: white;
// //   transition: 0.5s;
// // }

// .fixed-upper-left {
//   position: fixed;
//   top: -10px;
//   left: 0px;
// }

// .button-footer {
//   width: 3.5rem;
//   a {
//     color: white;
//     text-decoration: none;
//   }
//   transition: 0.5s;
//   border: 0;
// }

// .fixed-lower-right {
//   position: fixed;
//   bottom: 2%;
//   right: 10px;

// }