// main body color, especially for banner
$main-color: #1a222c;

// body widths
$max-width: 1260px;
$min-width: 768px;

// icon color and text color on banner
$icon-color: #FFF;
$text-color: #FFF;
$body-text-color: #555;
$header-text-color: #333;